---
import { getCollection, getEntryBySlug } from "astro:content"
import Base from "../layouts/Base.astro"
import Button from "../components/Button.astro"
import SponsorListing from "../components/SponsorListing.astro"
import { SPONSOR_TIERS } from "../main_config"
// Get all entries from a collection. Requires the name of the collection as an argument.

const allSponsors = await getCollection("sponsors")
const platinum = allSponsors.filter(
  (sponsor) => sponsor.data.tier === "platinum",
)
const gold = allSponsors.filter((sponsor) => sponsor.data.tier === "gold")
const track = allSponsors.filter((sponsor) => sponsor.data.tier === "track")
const auspice = allSponsors.find((sponsor) => sponsor.data.tier === "auspice")!
const sponsorPage = await getEntryBySlug("pages", "sponsor")
const Content = (await sponsorPage.render()).Content

---

<Base title="Sponsor">
  <main>
    <h1>PyCon AU sponsors</h1>

    <p>
      PyCon AU is the national conference for developers using the Python
      Programming Language. Hosted annually since 2010, this event brings the
      national and international Python community together.
    </p>

    <p>
      The conference could not run without the generous support of our sponsors.
      We thank them for their financial commitment, and ongoing support and
      encouragement to make PyCon AU a special moment for our vibrant developer
      community.
    </p>

    <p>
    <center>
      <Button type="chonk" block href="/files/PyCon%20AU%202024%20-%20Sponsorship%20Prospectus%20-%20July%20Update.pdf">
        Download the Sponsorship Prospectus
      </Button>
    </center>
    <p>

    <p><strong>Updated July 2024! </strong> New opportunities &amp; packages have been added &ndash; make sure you have the latest copy!</p>


    <p>
    Want to talk? Send us an email at <a href="mailto:sponsor@pycon.org.au"> sponsor@pycon.org.au </a> and we'll get in touch.
    </p>

    {
      /*
<p>
  Please take a moment to get to know the 2021 PyConline AU sponsors:<br>
  {/*
{% for s in platinum %}<a href="#{{s.pk}}">{{s.title}}</a>, {% endfor %}
{% for s in gold %}<a href="#{{s.pk}}">{{s.title}}</a>, {% endfor %}
{% for s in digital %}<a href="#{{s.pk}}">{{s.title}}</a>, {% endfor %}

our <a href="#media">media partners</a>,
our <a href="#contributors">contributors</a>, 
and of course <a href="#auspice">Linux Australia</a>!
</p>
*/
    }

    {SPONSOR_TIERS.map(tier => {
      const sponsors = allSponsors.filter(sponsor => sponsor.data.tier == tier.slug)
      if (!sponsors.length) return <></>
      return <>
      <h2 id={tier.slug}>{sponsors.length === 1 ? tier.name : tier.plural_name}</h2>
      {sponsors.map(sponsor => <SponsorListing sponsor={sponsor}/>)}
      </>
    })}

    {
      
    <h1 id="opportunities">Sponsorship Opportunities</h1>

    <Content />
  </main>
</Base>
